<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{tituloPagina}}}</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/public/js/script.js"></script>
</head>
<body>
    <header class="header">
        <div class="logoNutricao">
            <a href="/#inicio"><img src="/public/img/header/logoNutricao.png" alt="Logo oficial do site. Contém uma panela com uma comida líquida dentro acompanhada de uma colher do lado de fora. Contém o nome do site 'Nutrição com devoção' por fora da panela"></a>
        </div>
        <nav class="nav">
            <ul><a href="/#inicio">Início</a></ul>
            <ul><a href="/#sectionNutricionista">Nutricionista</a></ul>
            <ul><a href="/Contato">Consulta</a></ul>
            <ul><a href="/#sectionContato">Contato</a></ul>
        </nav>
        <div class="ContainerPesquisa">
            <!--Tentando fazer a caixa search-->
            <div class="inputSearch">
                <input type="text" placeholder="Digite aqui...">
                <img src="/public/img/header/lupaPesquisa.png" alt="Imagem de uma lupa para melhor visualização do site.">
            </div>
        </div>
    </header>



        {{{body}}}
    
    
    
    <footer class="footer">
        <div class="DevInfos">

            <div class="LogosDev">
                <img src="/public/img/logos/instagramLogo.png" alt="Logo da Rede social Instagram">
                <a href="https://www.linkedin.com/in/jos%C3%A9-alyson-fontenele-063293235/"><img src="/public/img/logos/linkedinLogo.png" alt="Logo da Rede social Linkedin"></a>
                <a href="https://github.com/Jalys0n"><img src="/public/img/logos/gitHubLogo.png" alt="Logo da plataforma GitHub"></a>
            </div>
        </div>
        


        <div class="DivInfoPlataforma">
            <div class="DivInfoPlataforma2">
                    <p>Entre em contato conosco.</p> <p>Política de privacidade.</p>
                    <p>Acessibilidade.</p> <p>Termos de uso.</p>

            </div>
            <p>
                © 2023 - Nutrição com devoção - todos os direitos reservados. Desenvolvido por <a href="https://github.com/Jalys0n">José Alyson.</a>      
           </p>
        </div>


        <div class="imgfootervegetais">
            <img src="/public/img/footer/vegetais.png" alt="Três vegetais de mãos dadas.">
        </div>

    </footer>
    
</body>
</html>