<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{tituloPagina}}}</title>
    <script src="/public/js/script.js"></script>
</head>
<body>
    <section class="sectionPrincipalConsulta">
        <form action="/situacao-cadastro" method="get" class="formConsulta" onsubmit="valida()">
            <h1>Pré-cadastro</h1>
             
            <div class="formNome">
                <label for="nomePaciente">Nome: </label>
                <input type="text" id="nomePaciente" name="nomePaciente" placeholder="Nome completo">
                
            </div>
            
            <div class="formEmail">
                <label for="emailPaciente">Email: </label>
                <input type="email" id="emailPaciente" placeholder="seu@email.com">
            </div>
                
            <div class="divHoraData">
                <label for="dataPreCadastro">Data: </label>
                    <input type="date" id="dataPreCadastro" name="dataPreCadastro">
                <label for="horaPreCadastro">Hora: </label>
                    <input type="time" id="horaPreCadastro" name="horaPreCadastro">
            </div>
            <label>Sexo:</label>
            <div class="divSexo">
                    <label for="sexoMasculino">Masculino </label> <input type="radio" name="genero" id="sexoMasculino" value="sexoMasculino">

                    <label for="sexoFeminino">Feminino </label><input type="radio" name="genero" id="sexoFeminino" value="sexoFeminino">
            </div>
             <div class="pesoAltura">
                <label for="pesoPCadastro">Peso:</label>
                <input type="number" inputmode="numeric" name="pesoPCadastro" id="pesoPCadastro" placeholder="kg">
                <label for="alturaPCadastro">Altura: </label>
                <input type="number" inputmode="numeric" name="alturaPCadastro" id="alturaPCadastro" placeholder="cm">
            </div>
            <label for="mensagemPCadastro">Escreva para nós:</label>
                <textarea name="mensagemPCadastro" id="mensagemPCadastro" valueplaceholder="Sinta-se à vontade para solicitar algo."></textarea>
                  
            
            <input type="submit" name="botaoEnviar" id="botaoEnviar">
        </form>
        </section>
    </body>
</html>