<footer class="footer">
        <div class="DevInfos">

            <div class="LogosDev">
                <img src="../img/logos/instagramLogo.png" alt="Logo da Rede social Instagram">
                <a href="https://www.linkedin.com/in/jos%C3%A9-alyson-fontenele-063293235/"><img src="../img/logos/linkedinLogo.png" alt="Logo da Rede social Linkedin"></a>
                <a href="https://github.com/Jalys0n"><img src="../img/logos/gitHubLogo.png" alt="Logo da plataforma GitHub"></a>
            </div>
        </div>
        


        <div class="DivInfoPlataforma">
            <div class="DivInfoPlataforma2">
                    <p>Entre em contato conosco.</p> <p>Política de privacidade.</p>
                    <p>Acessibilidade.</p> <p>Termos de uso.</p>

            </div>
            <p>
                © 2023 - Nutrição com devoção - todos os direitos reservados. Desenvolvido por <a href="https://github.com/Jalys0n">José Alyson.</a>      
           </p>
        </div>


        <div class="imgfootervegetais">
            <img src="../img/footer/vegetais.png" alt="Três vegetais de mãos dadas.">
        </div>

    </footer>
