<header class="header">
        <div class="logoNutricao">
            <img src="../img/header/logoNutricao.png" alt="Logo oficial do site. Contém uma panela com uma comida líquida dentro acompanhada de uma colher do lado de fora. Contém o nome do site 'Nutrição com devoção' por fora da panela">
        </div>
        <nav class="nav">
            <ul><a href="#inicio">Início</a></ul>
            <ul><a href="#sectionNutricionista">Nutricionista</a></ul>
            <ul><a href="consulta.html">Consulta</a></ul>
            <ul><a href="#sectionContato">Contato</a></ul>
        </nav>
        <div class="ContainerPesquisa">
            
            <!--Tentando fazer a caixa search-->
            <div class="inputSearch">
                <input type="text" placeholder="Digite aqui...">
                <img src="../img/header/lupaPesquisa.png" alt="Imagem de uma lupa para melhor visualização do site.">
            </div>
        </div>
    </header>
