<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{{tituloPagina}}}</title>
</head>
<body>
    <article class="article">
        <div class="inicio">
            <h1 id="inicio">Início</h1>
            <p>
                Seja muito bem-vindo(a) ao nosso site de nutrição, onde mergulharemos juntos em uma jornada pelo universo
            da alimentação saudável e equilibrada. Nossa missão é proporcionar a você todas as ferramentas necessárias
            para alcançar um estilo de vida mais saudável, através de uma abordagem nutricional baseada em evidências 
            científicas e empatia.
            </p>
        </div>
    </article>








    <section class="sectionNutricionista" id="sectionNutricionista">
        <div class="Nutricionista">
            <h1>Nutricionista</h1>
            <p>
                Sou a Juliana, nutricionista e apaixonada por ajudar você a trilhar uma jornada de saúde e bem-estar através da nutrição consciente.
                Acredito que a alimentação vai além do físico, é uma experiência que abraça o corpo, a mente e a alma. Foi assim que surgiu a ideia do Nutrição com Devoção - 
                um espaço onde podemos explorar a conexão entre o que colocamos em nossos pratos e a forma como vivemos nossas vidas. Será um prazer ajudá-lo(a).

</p>
        </div>
        <div class="imgNutricionista">
            <img src="../img/sectionNutricionista/doutor.png" alt="">
        </div>
        
    </section>
                         <section class="contato" id="sectionContato">
        <div class="sectionContato">
            <h1>Contato</h1>
            <h2>Localização </h2>
            <div class="localizacao">
                <a href="https://goo.gl/maps/FY5rXDvgvP1BZzny5">
                    <!--<img src="../img/logos/localizacao.png" alt="Ícone de localização."-->
                    <p>
                       Catedral de Brasília, Distrito Federal.</a>
                </p>
            </div>
            <h2>Converse comigo!</h2>
            <div class="telefone">
                <a href="">
                <!--<img src="../img/logos/telefone.png" alt="Logo de telefone">-->
                <p>
                   61 90000-0000</a>
                </p>
            </div>
    </section>
    


</body>
</html>