@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Simonetta&display=swap');
.body{
    font-family: 'Simonetta', cursive;
   /* background-color: #F9F9F9;*/
}
.header{
    display: flex;
}
.logoNutricao{
    width:30%;
    text-align: center;
}
.logoNutricao img{
    width: 15vw;
    height: 25vh;
}

.nav{
    display: flex;
    width: 60%;
    justify-content: center;
}
.nav a{
    font-size: 1.8em;
    text-decoration: none;
    padding-right: 50px;
    color: black;
}
.nav a:hover{
    color: #413333;
    font-size:1.9em;
}
.Pesquisa{
    width: 10%;
}
.Pesquisa img{
    width: 3vw;
    height: 5vh;
}

.inicio{
    width: 50%;
    margin: 0 auto;
    font: 1.5em 'Roboto', sans-serif;
    line-height: 50px;
    text-align: justify;
    background-image: url('../img/article/avocado.png');
    background-position: right bottom;
    background-size: 30% auto;
    background-repeat: no-repeat;
    color:black;
    font-weight: 550;
}
.inicio p, .Nutricionista p{
    text-indent: 20px;
}
.Nutricionista{
    width: 50%;
    margin: 0 auto;
    font: 1.5em 'Roboto', sans-serif;
    line-height: 50px;
    text-align: justify;
    font-weight: 550;
}
.contato{
    width: 100%;
}
.sectionContato{
    width: 50%;
    margin: 0 auto;
    font: 1.5em 'Roboto', sans-serif;
    line-height: 50px;
    text-align: justify;
    border-bottom: solid 1px grey;
}





.footer{
    display: flex;
    width: 100%;
}
.DevInfos{
    width: 25%;
    text-align: center;  
}

.LogosDev img{
    width: 2vw;
    height: 3vh;
    padding-right: 25px;
}
.LogosDev img:hover{
    height: 3.5vh;
    width: 2.5vw;
}

.DivInfoPlataforma{
    width: 50%;
    text-align: center;
}

.DivInfoPlataforma a, .DivInfoPlataforma p{
    text-decoration: none;
    color: rgb(124, 119, 119);
}

.imgfootervegetais{
    width: 25%;
    text-align: right;
}
.imgfootervegetais img{
    width:15vw;
    margin-top: -50px;
}

/*Página de consulta:*/
.sectionPrincipalConsulta{
    width: 100%;
}
.sectionPrincipalConsulta input, .sectionPrincipalConsulta label, .sectionPrincipalConsulta h1{
    display: block;
}
.formConsulta{
    width: 20vw;
    font:1.3em 'Roboto', sans-serif;
    margin: 0 auto;
    border-radius: 10px;
}
.formConsulta input[type="text"], .formConsulta input[type="email"]{
    width: 50%;
}
.formConsulta input{
    height: 2.5vh;
}
.formConsulta label, .formConsulta h1, .formConsulta input{
    margin-bottom:15px;
}
.formConsulta h1{
    text-align: center;
}
.divConsultaCampoHora{
    display: flex;
    justify-content: space-between;
}
.divSexo{
    display: flex;
    justify-content: center;
}
.divSexo input, .divSexo label{
    margin-left: 15px;
}
.formConsulta input[type="submit"]{
    margin: 0 auto;
    font-size: 0.8em;
    background-color: #74DF8C;
    border-radius:3px;
    height: 3vh;
    width: 4vw;
}