@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Simonetta&display=swap');
.body{
    font-family: 'Simonetta', cursive;
   /* background-color: #F9F9F9;*/
}
.header{
    display: flex;
    width: 100%;
}
.logoNutricao{
    width:20%;
    text-align: center;
}
.logoNutricao img{
    width: 15vw;
    height: 25vh;
}

.nav{
    display: flex;
    width: 50%;
    justify-content: right;
}
.nav a{
    font-size: 1.8em;
    text-decoration: none;
    padding-right: 50px;
    color: black;
}
.nav a:hover{
    color: #413333;
    font-size:1.9em;
}
.ContainerPesquisa{
    width: 30%;
}


.inicio{
    width: 50%;
    margin: 0 auto;
    font: 1.5em 'Roboto', sans-serif;
    line-height: 50px;
    text-align: justify;
    background-image: url('../img/article/avocado.png');
    background-position: right bottom;
    background-size: 30% auto;
    background-repeat: no-repeat;
    color:black;
    font-weight: 550;
}
.inicio p, .Nutricionista p{
    text-indent: 20px;
}






.sectionNutricionista {
    display: flex;
    justify-content: center;
}
.Nutricionista{
    width: 30%;
    font: 1.5em 'Roboto', sans-serif;
    line-height: 50px;
    text-align: justify;
    font-weight: 550;
}
.sectionNutricionista img{
    width: 20vw;
    height: 58vh;
    margin-left: -20px;
}


.contato{
    width: 100%;
}
.sectionContato{
    width: 50%;
    margin: 0 auto;
    font: 1.5em 'Roboto', sans-serif;
    line-height: 50px;
    text-align: justify;
    border-bottom: solid 1px grey;
}
.sectionContato img{
    width: 1vw;
    height: 3vh;
}
.contato h2{
    font: 1em 'Roboto', sans-serif;
    color: rgb(51, 47, 47);
    text-decoration: underline;
}
.localizacao, .telefone{
    display: flex;
    justify-content: center;
}
.localizacao img, .telefone img{
    /*Depois pensar se existe uma forma de centralizar verticalmente, para retirar esse padding top*/
padding-top: 30px;  
margin-right: 5px;
}
.localizacao a, .telefone a{
    color: black;
    text-decoration: none;   
}
.localizacao a:hover, .telefone a:hover{
    color: rgb(168, 168, 172);
    font-size: 1.05em;
}
.telefone img{
    width: 1.5vw;
    height: 3vh;
}



/*--------------------------------------------------*/





.footer{
    display: flex;
    width: 100%;
}
.DevInfos{
    width: 25%;
    text-align: center; 
}

.LogosDev img{
    width: 2vw;
    height: 3vh;
    /*pensar se tem algo que alinha lá embaixo*/
    margin-top: 100px;
}
.LogosDev img:hover{
    height: 3.5vh;
    width: 2.5vw;
}

.DivInfoPlataforma{
    width: 50%;
    text-align: center;
}

.DivInfoPlataforma a, .DivInfoPlataforma p{
    text-decoration: none;
    color: rgb(124, 119, 119);
}
.DivInfoPlataforma2{
    display: flex;
    text-align: center;
    justify-content: space-between;
}


.imgfootervegetais{
    width: 25%;
    text-align: right;
}
.imgfootervegetais img{
    width:15vw;
    margin-top: -50px;
}

/*Página de consulta:*/
.sectionPrincipalConsulta{
    width: 100%;
}
.sectionPrincipalConsulta input, .sectionPrincipalConsulta label, .sectionPrincipalConsulta h1{
    display: block;
}
.formConsulta{
    width: 20vw;
    font:1.3em 'Roboto', sans-serif;
    margin: 0 auto;
    border-radius: 7px;
}
.formConsulta h1{
    text-align: center;
    font-size:1.5em;
    color:#383232
}
.formConsulta label, input{margin-bottom: 10px;}
.formConsulta input{
    width: 80%;
    height: 25px;
}
.divHoraData{
    display: flex;
}
.divHoraData label, input{
    margin-right: 10px;
}
.divHoraData input{
    width: 23.5%;
}
.divSexo{
    display: flex;
    font-size: 1em;
    width: 100%;
    margin-bottom: 20px;
}

.pesoAltura{
    display: flex;
    margin-bottom: 10px;
}
.pesoAltura label, input{
    margin-right: 10px;
}
.pesoAltura input{
    width: 21%;
    text-align: right;
}

.formConsulta input[type="submit"]{
    width: 20%;
    margin: 0 auto;
    border-radius: 4px;
    background-color: rgb(135, 194, 135);
    height: 30px;
    font-size: 0.8em;
    color: white;
}
/*
    eu acho que vou colocar as medidas dos campos input do formulario em px pra tudo ter um tamanho fixo.
*/