@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Simonetta&display=swap');
.body{
    font-family: 'Simonetta', cursive;
}
.header{
    display: flex;
}
.logoNutricao{
    width:30%;
    text-align: center;
}
.logoNutricao img{
    width: 20vw;
    height: 35vh;
}

.nav{
    display: flex;
    width: 60%;
    justify-content: center;
}
.nav a{
    font-size: 1.8em;
    text-decoration: none;
    padding-right: 50px;
    color: black;
}
.nav a:hover{
    color: #413333;
}
.Pesquisa{
    width: 10%;
}
.Pesquisa img{
    width: 3vw;
    height: 6vh;
}

.inicio{
    width: 50%;
    margin: 0 auto;
    font: 1.8em 'Roboto', sans-serif;
    line-height: 50px;
    text-align: justify;
    background-image: url('../img/article/avocado.png');
    background-position: right bottom;
    background-size: 30% auto;
    background-repeat: no-repeat;
    color:black;
    font-weight: 550;
    
}
.inicio p, .Nutricionista p{
    text-indent: 20px;
}
.Nutricionista{
    width: 50%;
    margin: 0 auto;
    font: 1.8em 'Roboto', sans-serif;
    line-height: 50px;
    text-align: justify;
    font-weight: 550;
}

.footer{
    display: flex;
    width: 100%;
}
.DevInfos{
    width: 25%;
    text-align: center;  
}

.LogosDev img{
    width: 3vw;
    height: 4.5vh;
    padding-right: 25px;
}

.DivInfoPlataforma{
    width: 50%;
    border: solid 1px red;
    text-align: center;
}

.DivInfoPlataforma a, .DivInfoPlataforma p{
    text-decoration: none;
    color: rgb(124, 119, 119);
    font: 1.1em 'Roboto', sans-serif;
}

.imgfootervegetais{
    width: 25%;
    text-align: right;
}
.imgfootervegetais img{
    width:15vw;
    margin-top: -50px;
}